
@{
    ViewData["Title"] = "Cafe";
}

<div class="container">
    <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Ресторан &laquoSky&raquo</h2>
            <p class="lead">
                В уютном интерьере, оформленное как небольшое европейское кафе, могут с комфортом разместиться более 50 человек. Заведение всегда рады своим гостям!
            </p>
        </div>
        <img class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px;" src="~/img/Cafe1.jpg" alt="" />
    </div>
    <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Пивной бар &laquoHuman&raquo</h2>
            <p class="lead">
                Демократичный пивной бар с современным интерьером. В баре можно попробовать большое количество сортов разливного пива, в дополнение к чему есть специальное гриль-меню, а также суши-бар.
            </p>
        </div>
        <img class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px;" src="~/img/Cafe2.jpg" alt="" />
    </div>
    <br />
    <div class="divider"></div>
</div>

