
@{
    ViewData["Title"] = "Vip";
}

<div class="container" id="heading">
    <h1 class="display-4">Бизнес-Зал</h1>
    <p class="lead">В бизнес-зале терминала С2 обслуживаются пассажиры бизнес-класса, владельцы карт priority pass, а также пассажиры экономического класса за оплату.</p>
    <div class="divider"></div>
    <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <p class="lead">
                Зал находится в стерильной зоне терминала международных воздушных линий, после прохождения таможенного контроля, регистрации авиабилетов, пограничного контроля.
            </p>
        </div>
        <img class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px;" src="~/img/viphall1.jpg" alt="" />
    </div>
    <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <p class="lead">
                Пассажиры могут находиться в зале непосредственно до посадки в самолет.
            </p>
        </div>
        <img class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px;" src="~/img/VipHall2.jpg" alt="" />
    </div>
    <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <p class="lead">
                Бизнес-зал работает ежедневно и круглосуточно.
            </p>
            <p class="lead">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                </svg>
                +7 (3022) 55-55-55
            </p>
        </div>
        <img class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px;" src="~/img/vipHall3.jpg" alt="" />
    </div>
    <br />
    <div class="divider"></div>
</div>

