
@{
    ViewData["Title"] = "History";
}

<div class="container" id="heading">
    <h1 class="display-4">Аэропорт</h1>
    <p>По результатам 2013 года Международный аэропорт, по рейтингу ACI-Europe (Airport Council International), был включен в топ-5 по динамике развития среди российских и европейских аэропортов в подгруппе «малые» аэропорты (до 5 млн пасс. в год).</p>
    <div class="divider"></div>
</div>

<div class="container">
        <div class="row">
        <div class="col-md-4">
            <h2>1930</h2>
            <div>
                <img class="img-polaroid img-history" src="~/img/history1930.jpg" alt="">
            </div>
            <br />
            <p>
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample1930" aria-expanded="false" aria-controls="collapseExample">
                    Подробнее &raquo
                </button>
            </p>
            <div class="collapse" id="collapseExample1930">
                <div class="card card-body">
                    В сентябре 1930г. сибирские лётчики открыли воздушную линию на участке Иркутск-Чита-Нерчинск-Могоча.
                    В связи с увеличивающейся  с каждым годом протяженностью воздушных линий требовалось обеспечить наличие необходимого количества аэродромов в направлении с запада на восток.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>1940</h2>
            <div>
                <img class="img-polaroid img-history" src="~/img/history1940.jpg" alt="">
            </div>
            <br />
            <p>
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample1940" aria-expanded="false" aria-controls="collapseExample">
                    Подробнее &raquo
                </button>
            </p>
            <div class="collapse" id="collapseExample1940">
                <div class="card card-body">
                    В 1940 г. явное приближение грозных военных событий стало ощутимее. По крайней мере, заметно изменилась методика подготовки авиационных кадров, в которой явно преобладал военный аспект. а принятое в феврале 1941г. постановление ЦК ВКП (б) и Совнаркома СССР "О реорганизации авиационных сил Красной Армии" лишь подтвердило самые худшие опасения.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>1950</h2>
            <div>
                <img class="img-polaroid img-history" src="~/img/history1950.jpg" alt="">
            </div>
            <br />
            <p>
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample1950" aria-expanded="false" aria-controls="collapseExample">
                    Подробнее &raquo
                </button>
            </p>
            <div class="collapse" id="collapseExample1950">
                <div class="card card-body">
                    27 марта 1950г. между СССР и КНР заключается соглашение об образовании Советско-Китайского акционерного общества гражданской авиации (СКОГА). По условиям соглашения была создана воздушная линия Чита-Пекин, что оказалось довольно выгодным моментом для обеих сторон.
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="divider"></div>
    <div class="row">
        <div class="col-md-4">
            <h2>1960</h2>
            <div>
                <img class="img-polaroid img-history" src="~/img/history1960.jpg" alt="">
            </div>
            <br />
            <p>
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample1960" aria-expanded="false" aria-controls="collapseExample">
                    Подробнее &raquo
                </button>
            </p>
            <div class="collapse" id="collapseExample1960">
                <div class="card card-body">
                    В 1960г. после проведения непродолжительных подготовительных работ в Читинском аэропорту началось строительство бетонной взлётно-посадочной полосы. Строительство продолжалось более четырёх лет, а к 1965 году в аэропорту вместо грунтовой ВПП появилась бетонная полоса длиной 2000 и шириной 56 м, магистральная рулёжная дорожка и перрон.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>1970</h2>
            <div>
                <img class="img-polaroid img-history" src="~/img/history1970.jpg" alt="">
            </div>
            <br />
            <p>
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample1970" aria-expanded="false" aria-controls="collapseExample">
                    Подробнее &raquo
                </button>
            </p>
            <div class="collapse" id="collapseExample1970">
                <div class="card card-body">
                    1970-е годы проходят в аэропорту в спокойной рабочей обстановке.
                    В 1978 году на авиапредприятии производится формирование авиаэскадрильи в количестве 18 экипажей на самолёты Ту-154. Этот самолёт, пришедший на замену устаревшему Ту-104, был уже из семейства современных многоместных пассажирских авиалайнеров.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>1980</h2>
            <div>
                <img class="img-polaroid img-history" src="~/img/history1980.jpg" alt="">
            </div>
            <br />
            <p>
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample1980" aria-expanded="false" aria-controls="collapseExample">
                    Подробнее &raquo
                </button>
            </p>
            <div class="collapse" id="collapseExample1980">
                <div class="card card-body">
                    С декабря 1980 года Читинские экипажи стали выполнять рейсы Чита-Москва и обратно с промежуточной посадкой в Омске или Новосибирске. В октябре 1981г. экипаж на самолёте Ту-154 выполнил беспосадочный перелёт из Москвы в Читу, преодалев 4730 км за 5 часов 20 мин.
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="divider"></div>
    <div class="row">
        <div class="col-md-4">
            <h2>1990</h2>
            <div>
                <img class="img-polaroid img-history" src="~/img/history1990.jpg" alt="">
            </div>
            <br />
            <p>
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample1990" aria-expanded="false" aria-controls="collapseExample">
                    Подробнее &raquo
                </button>
            </p>
            <div class="collapse" id="collapseExample1990">
                <div class="card card-body">
                    1991г. Разработка программы реконструкции и развития авиатранспорта региона с целью доведения объектов аэропорта до международных норм годности. В 1992г. начался первый этап реконструкции аэродрома.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>2000</h2>
            <div>
                <img class="img-polaroid img-history" src="~/img/history2000.jpg" alt="">
            </div>
            <br />
            <p>
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample2000" aria-expanded="false" aria-controls="collapseExample">
                    Подробнее &raquo
                </button>
            </p>
            <div class="collapse" id="collapseExample2000">
                <div class="card card-body">
                    2004 год Начало контроля над АООТ "Читаавиа" московской группой "Центр-Капитал". В 2007 году Аэропорт Чита входит в группу компаний Новопорт. 2008 год на базе аэропорта создана Инженерно-авиационная служба.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>2010</h2>
            <div>
                <img class="img-polaroid img-history" src="~/img/history2010.jpg" alt="">
            </div>
            <br />
            <p>
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample2010" aria-expanded="false" aria-controls="collapseExample">
                    Подробнее &raquo
                </button>
            </p>
            <div class="collapse" id="collapseExample2010">
                <div class="card card-body">
                    В 2010 году запущен в эксплуатацию новый бизнес-зал. Запущена чартерная программа. Чартерные рейсы выполняют авиакомпании "NordWind" и "Икар" на ВС Boeing-767-300 по направлениям:
                    <ul class="list-group-item-secondary">
                        <li>Чита-Пхукет</li>
                        <li>Чита-Бангкок</li>
                        <li>Чита-Утапао</li>
                        <li>Чита-Нячанг</li>
                        <li>Чита-Анталья</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="divider"></div>

</div>
