
@{
    ViewData["Title"] = "Information";
}

<div class="container">
    <div id="about">
        <div id="heading" class="">
            <h1>Общие сведения</h1>
            <p class="lead">Аэропорт относится к аэропортам федерального значения и имеет статус международного аэропорта.</p>
            <p class="lead">Аэропорт класса "V". Аэродром класса "В"</p>
        </div>
        <div class="divider"></div>
        <div class="row text-justify">
            <div class="col">
                <img class="img-polaroid" src="~/img/information1.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <p class="lead">Аэровокзальный комплекс состоит из двух терминалов: терминал внутренних воздушных линий и терминал международных воздушных линий. Аэровокзальный комплекс оснащен импортным технологическим оборудованием, которое позволяет быстро, качественно и эффективно обслуживать пассажиров.</p>
                <p class="lead">Рост количества обслуживаемых в аэропорту пассажиров приводит к необходимости переориентации аэровокзального комплекса на обслуживание большего объема международных перевозок.</p>
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-lg-7">
                <p class="lead">Технические возможности аэропорта позволяют принимать практически все современные воздушные суда, а развитая инфраструктура обеспечивает выполнение полного спектра услуг для авиакомпаний и пассажиров, что является существенным конкурентным преимуществом в отношении аэропортов соседних регионов.</p>
                <p class="lead">Пропускная способность ИВПП-10 взлёт/посадок в час. Возможности аэродрома позволяют обслуживать до 240 рейсов в сутки на воздушных судах типа Boeing и Airbus.</p>
            </div>
            <div class="col">
                <img class="img-polaroid float-right" src="~/img/information2.png" alt="">
            </div>
        </div>
        <div class="container">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2064.6136988774715!2d113.30615504095877!3d52.02048303972943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5dca36e0c57188f5%3A0x9e55beedb542eb49!2z0JDRjdGA0L7Qv9C-0YDRgiDQp9C40YLQsA!5e0!3m2!1sru!2sru!4v1638161256607!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                </div>
    </div>
    <br />
    <div class="divider"></div>
</div>

