
@{
    ViewData["Title"] = "Bag";
}

<div class="container">
    <div id="about" class="text-black">
        <div id="heading" >
            <h1>Проверка багажа</h1>
            <p class="lead">Пассажир имеет право бесплатно перевезти вещи массой, не превышающей нормы, установленной перевозчиком. </p>
        </div>
        <div class="divider"></div>
        <div class="row text-justify">
            <div class="col">
                <img class="img-polaroid" src="~/img/bag1.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <p class="lead">Габариты каждого места багажа должны быть не более 51х51х101 см. Максимальная масса отдельного места багажа не должна превышать 32 кг. Масса одного места незарегистрированного багажа (ручной клади), перевозимого в салоне воздушного судна, не должна превышать 5 кг, максимальные размеры должны быть не более 45х35х15 см.</p>
                <p class="lead">Если вес и габариты багажа превышают норму бесплатной перевозки, то багаж должен быть предварительно забронирован.</p>
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-lg-7">
                <p class="lead">Cверхнормативный багаж будет перевезен только при наличии технических возможностей.</p>
                <p class="lead">Драгоценности, деньги и документы пассажир обязан перевозить при себе. Хрупкие и бьющиеся предметы, требующие особых мер предосторожности во время перевозки (малогабаритные переносные магнитофоны, компьютеры, радиоприемники, телевизоры, изделия из хрусталя и т.д.) по согласованию с перевозчиком могут перевозиться пассажиром в салоне воздушного судна.</p>
            </div>
            <div class="col">
                <img class="img-polaroid float-right" src="~/img/bag2.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="divider"></div>
</div>

