
@{
    ViewData["Title"] = "Inspection";
}

<div class="container">
    <div id="about">
        <div id="heading" class="black">
            <h1>Предполетный досмотр</h1>
            <p class="lead">До начала полета, проводится предварительная проверка на металлодетекторах. Они установлены на входе в пассажирские терминалы аэропорта. Вылетающим пассажирам необходимо пройти такую проверку повторно перед входом в зону специального контроля аэропорта. При прохождении контроля безопасности необходимо предъявить посадочный талон.</p>
        </div>
        <div class="divider"></div>
        <div class="row text-justify">
            <div class="col">
                <img class="img-polaroid" src="~/img/inspection1.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <p class="lead">Досмотр ручной клади и багажа, находящегося при пассажире, производится только в его присутствии. При подозрении, что в багаже находятся опасные вещества и предметы, запрещенные к перевозке на гражданских воздушных судах, досмотр багажа может быть произведен в отсутствие пассажира.</p>
                <p class="lead">Досмотр багажа в отсутствие пассажира, связанный с необходимостью вскрытия багажа, производится комиссией по решению руководителя службы авиационной безопасности или лица, его замещающего и оформляется актом.</p>
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-lg-7">
                <p class="lead">В случае отказа пассажира от полета или от продолжения полета по причине задержки с отправкой, вызванной досмотром, авиапредприятие обязано по его требованию полностью возместить стоимость билета или его неиспользованной части.</p>
                <p class="lead">Оружие, боеприпасы и спецсредства пассажиров изымаются на время полета по акту сотрудником, осуществляющим предполетный досмотр, и выдаются в аэропорту прилета.</p>
            </div>
            <div class="col">
                <img class="img-polaroid float-right" src="~/img/inspection2.jpeg" alt="">
            </div>
        </div>
    </div>
    <div class="divider"></div>
</div>

