
@{
    ViewData["Title"] = "Regulation";
}

<div class="container">
    <div id="about">
        <div id="heading" class="black">
            <h1>Правила для пассажиров</h1>
            <p class="lead">Регистрация пассажиров и оформление багажа в аэропорту на внутренних линиях начинается за 2 часа и заканчивается за 40 минут до вылета, на международных линиях — начинается за 3 часа и заканчивается за 40 минут до вылета. В отдельных случаях это время может изменяться по согласованию с перевозчиком</p>
        </div>
        <div class="divider"></div>
        <div class="row text-justify">
            <div class="col">
                <img class="img-polaroid" src="~/img/regulation2.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <p class="lead">Пассажир обязан в соответствии с общими правилами Гражданского Кодекса (гл.59) возместить убытки, причиненные по его вине имуществу Перевозчика или багажу другого пассажира, за который Перевозчик несет ответственность.</p>
                <p class="lead">Пассажиру, который находится на борту воздушного судна, запрещается: пользоваться биноклями, радиоаппаратурой, электронными приборами за исключением слухового аппарата, кардиологического оборудования, компьютера или пишущей машинки.</p>
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-lg-7">
                <p class="lead">При вынужденном отказе пассажира от перевозки, перевозчик обязан отправить пассажира одним из очередных рейсов или произвести пассажиру возврат стоимости билета за неиспользованную перевозку без учета штрафных санкций.</p>
                <p class="lead">Добровольным отказом пассажира от перевозки считается отказ по личным причинам. В этом случае пассажиру возврат оплаченной суммы производится по правилам применения тарифов. Возврат билета производится в пункте приобретения билета.</p>
            </div>
            <div class="col">
                <img class="img-polaroid float-right" src="~/img/regulation1.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="divider"></div>
</div>
