
@{
    ViewData["Title"] = "Customer";
}

<div class="container">
    <div id="about" class="text-black">
        <div id="heading">
            <h1>Услуги грузового терминала</h1>
            <p class="lead">Вход в грузовой терминал (получение, выдача груза) осуществляется свободно, согласно установленному режиму работы грузового терминала.</p>
        </div>
    </div>
    <div class="divider"></div>
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle mx-auto d-block" src="~/img/customer1.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 class="text-center">Режим работы</h2>
            <p class="text-justify">Режим работы грузового терминала АО &laquoАэропорт&raquo</p>
            <p>
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                    Подробнее &raquo
                </button>
            </p>
            <div class="collapse" id="collapseExample1">
                <div class="card card-body">
                    <ul>
                        <li>Пн; вт; ср; чт; пт; сб. - с 08:00 до 18:00 часов.</li>
                        <li>Обед - с 12:00 до 13:00 часов.</li>
                        <li>Воскресенье - с 08:00 до 14:00 (без перерыва на обед).</li>
                        <li>Выдача скоропортящегося груза, груза 200, живой груз производится круглосуточно.</li>
                        <li>Тел. для информации: 55-55-55</li>
                    </ul>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle mx-auto d-block" src="~/img/customer2.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 class="text-center">Документы</h2>
            <p class="text-justify">Документы, необходимые для получения и сдачи груза</p>
            <p>
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                    Подробнее &raquo
                </button>
            </p>
            <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                    <ul>
                        <li>Для физических лиц – паспорт или документ, удостоверяющий личность.</li>
                        <li>Для юридических лиц — доверенность от предприятия, паспорт или документ, удостоверяющий личность.</li>
                    </ul>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle mx-auto d-block" src="~/img/customer3.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 class="text-center">Стоимость услуг</h2>
            <p class="text-justify">Тарифы на перевозку груза на рейсы АО &laquoАэропорт&raquo</p>
            <p>
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                    Подробнее &raquo
                </button>
            </p>
            <div class="collapse" id="collapseExample3">
                <div class="card card-body">
                    <ul>
                        <li>Генеральный груз - 13,00 руб/кг</li>
                        <li>Крупногабаритный и тяжеловесный груз - 25,00 руб/кг</li>
                        <li>Особый груз - 25,00 руб/кг</li>
                        <li>Ценный груз (минимальный тариф) - 232,00 руб/1 ГАН</li>
                        <li>Ценный груз (тариф по весу) - 26,00 руб/кг</li>
                        <li>Обработка груза, принимаемого от агента-перевозчика - 8,00 руб/кг</li>
                    </ul>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
    </div>
    <br />
    <div class="divider"></div>
</div>

