
@{
    ViewData["Title"] = "Serv";
}

<div class="container">
    <div id="about" class="text-black">
        <div id="heading">
            <h1>Грузовой терминал</h1>
            <p class="lead">Обработкой грузов и почты в АО «Аэропорт» занимается служба организации почтово-грузовых перевозок (грузовой терминал).</p>
        </div>
        <div class="divider"></div>
        <div class="row text-justify">
            <div class="col">
                <img class="img-polaroid" src="~/img/Terminal1.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <p class="lead">Все склады оборудованы системами пожарной, охранной сигнализации, системой видеонаблюдения, необходимой досмотровой техникой, электронными весами, в т.ч. автомобильными весами грузоподъемностью до 40 тонн (длина 11,98 м, ширина 2,8 м.).</p>
                <p class="lead">Вы можете оформить груз как на местные, так и на центральные направления.</p>
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-lg-7">
                <p class="lead">Консультацию на оформление и получение груза Вы можете получить у квалифицированных специалистов.</p>
                <p class="lead">Вы можете быть уверены в обеспечении полной сохранности и соблюдении всех требований безопасности при перевозке груза на воздушном транспорте.</p>
                <p class="lead">Принимается малогабаритный груз до 30 кг по всем направлениям.</p>
            </div>
            <div class="col">
                <img class="img-polaroid float-right" src="~/img/Terminal2.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="divider"></div>
</div>

